
Business/CoinMonitorService/CoinMonitorService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitorService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitorService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/.vs/CoinMonitorService/DesignTimeBuild/.dtbcache
Business/CoinMonitorService/.vs/CoinMonitorService/v15/.suo
Business/CoinMonitorService/.vs/CoinMonitorService/v15/Server/sqlite3/db.lock
Business/CoinMonitorService/.vs/CoinMonitorService/v15/Server/sqlite3/storage.ide
Business/CoinMonitorService/.vs/CoinMonitorService/v15/Server/sqlite3/storage.ide-shm
Business/CoinMonitorService/.vs/CoinMonitorService/v15/Server/sqlite3/storage.ide-wal
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/CoinMonitor.Base.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/CoinMonitor.Base.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/CoinMonitor.Business.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/CoinMonitor.Business.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/CoinMonitor.Domain.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/CoinMonitor.Domain.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/CoinMonitor.Interfaces.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/CoinMonitor.Interfaces.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/CoinMonitor.RestClients.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/CoinMonitor.RestClients.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitorService/obj/Debug/Business.CoinMonitorServiceHost.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitor.ServiceHost.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitor.ServiceHost.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitorService.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitorService.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitorServiceHost.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/build/CoinMonitor.Base.dll
Business/CoinMonitorService/build/CoinMonitor.Base.pdb
Business/CoinMonitorService/build/CoinMonitor.Business.dll
Business/CoinMonitorService/build/CoinMonitor.Business.pdb
Business/CoinMonitorService/build/CoinMonitor.Domain.dll
Business/CoinMonitorService/build/CoinMonitor.Domain.pdb
Business/CoinMonitorService/build/CoinMonitor.Interfaces.dll
Business/CoinMonitorService/build/CoinMonitor.Interfaces.pdb
Business/CoinMonitorService/build/CoinMonitor.RestClients.dll
Business/CoinMonitorService/build/CoinMonitor.RestClients.pdb
Business/CoinMonitorService/build/CoinMonitorService.exe
Business/CoinMonitorService/build/CoinMonitorService.exe.config
Business/CoinMonitorService/build/CoinMonitorService.pdb
Business/CoinMonitorService/build/create
Business/CoinMonitorService/build/log4net.dll
Business/CoinMonitorService/build/log4net.xml
Business/CoinMonitorService/build/logs/CoinMonitorService.log
Business/CoinMonitorService/build/Newtonsoft.Json.dll
Business/CoinMonitorService/build/Newtonsoft.Json.xml
Business/CoinMonitorService/build/RestSharp.dll
Business/CoinMonitorService/CoinMonitor.Base/bin/Debug/CoinMonitor.Base.dll
Business/CoinMonitorService/CoinMonitor.Base/bin/Debug/CoinMonitor.Base.pdb
Business/CoinMonitorService/CoinMonitor.Base/bin/Debug/log4net.dll
Business/CoinMonitorService/CoinMonitor.Base/bin/Debug/log4net.xml
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/CoinMonitor.Base.csproj.CopyComplete
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/CoinMonitor.Base.csproj.FileListAbsolute.txt
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/CoinMonitor.Base.dll
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/CoinMonitor.Base.pdb
Business/CoinMonitorService/CoinMonitor.Business/bin/Debug/CoinMonitor.Business.dll
Business/CoinMonitorService/CoinMonitor.Business/bin/Debug/CoinMonitor.Business.pdb
Business/CoinMonitorService/CoinMonitor.Business/bin/Debug/log4net.dll
Business/CoinMonitorService/CoinMonitor.Business/bin/Debug/log4net.xml
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/CoinMonitor.Business.csproj.CopyComplete
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/CoinMonitor.Business.csproj.FileListAbsolute.txt
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/CoinMonitor.Business.dll
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/CoinMonitor.Business.pdb
Business/CoinMonitorService/CoinMonitor.Domain/bin/Debug/CoinMonitor.Domain.pdb
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/CoinMonitor.Domain.csproj.FileListAbsolute.txt
Business/CoinMonitorService/CoinMonitor.Interfaces/bin/Debug/CoinMonitor.Domain.pdb
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/CoinMonitor.Domain.dll
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/CoinMonitor.Domain.pdb
Business/CoinMonitorService/CoinMonitor.Interfaces/bin/Debug/CoinMonitor.Domain.dll
Business/CoinMonitorService/CoinMonitor.Interfaces/bin/Debug/CoinMonitor.Interfaces.dll
Business/CoinMonitorService/CoinMonitor.Interfaces/bin/Debug/CoinMonitor.Interfaces.pdb
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/CoinMonitor.Interfaces.csproj.CopyComplete
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/CoinMonitor.Interfaces.csproj.FileListAbsolute.txt
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/CoinMonitor.Interfaces.dll
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/CoinMonitor.Interfaces.pdb
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/CoinMonitor.Base.dll
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/CoinMonitor.Base.pdb
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/CoinMonitor.Domain.dll
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/CoinMonitor.Domain.pdb
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/CoinMonitor.Interfaces.dll
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/CoinMonitor.Interfaces.pdb
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/CoinMonitor.RestClients.dll
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/CoinMonitor.RestClients.pdb
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/log4net.dll
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/log4net.xml
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/Newtonsoft.Json.xml
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/Newtonsoft.Json.dll
Business/CoinMonitorService/CoinMonitor.RestClients/bin/Debug/RestSharp.dll
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/CoinMonitor.RestClients.csproj.CopyComplete
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/CoinMonitor.RestClients.csproj.FileListAbsolute.txt
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/CoinMonitor.RestClients.dll
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/CoinMonitor.RestClients.pdb
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitor.Base.dll
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitor.Base.pdb
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitor.Domain.dll
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitor.Domain.pdb
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitor.Interfaces.dll
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitor.Interfaces.pdb
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitorService.exe
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitorService.exe.config
Business/CoinMonitorService/CoinMonitorService/bin/Debug/CoinMonitorService.pdb
Business/CoinMonitorService/CoinMonitorService/bin/Debug/log4net.dll
Business/CoinMonitorService/CoinMonitorService/bin/Debug/log4net.xml
Business/CoinMonitorService/CoinMonitorService/CoinMonitor.ServiceHost.csproj.user
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitor.ServiceHost.csproj.CopyComplete
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitor.ServiceHost.csproj.FileListAbsolute.txt
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitorService.exe
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitorService.pdb
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net20-full/log4net.dll
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net20-full/log4net.xml
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net35-client/log4net.dll
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net35-client/log4net.xml
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net35-full/log4net.dll
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net35-full/log4net.xml
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net40-client/log4net.dll
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net40-client/log4net.xml
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net40-full/log4net.dll
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net40-full/log4net.xml
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net45-full/log4net.dll
Business/CoinMonitorService/packages/log4net.2.0.8/lib/net45-full/log4net.xml
Business/CoinMonitorService/packages/log4net.2.0.8/lib/netstandard1.3/log4net.dll
Business/CoinMonitorService/packages/log4net.2.0.8/log4net.2.0.8.nupkg
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/LICENSE.md
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
Business/CoinMonitorService/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
Business/CoinMonitorService/packages/RestSharp.106.3.1/lib/net452/RestSharp.dll
Business/CoinMonitorService/packages/RestSharp.106.3.1/lib/netstandard2.0/RestSharp.dll
Business/CoinMonitorService/packages/RestSharp.106.3.1/RestSharp.106.3.1.nupkg
Business/CoinMonitorService/CoinMonitor.Domain/bin/Debug/CoinMonitor.Domain.dll
Business/CoinMonitorService/build/logs/CoinMonitorService.log20180924
/Business/CoinMonitorService/build
/Business/CoinMonitorService/packages
