
Business/CoinMonitorService/CoinMonitorService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitorService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitorService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/.vs/CoinMonitorService/DesignTimeBuild/.dtbcache
Business/CoinMonitorService/.vs/CoinMonitorService/v15/.suo
Business/CoinMonitorService/.vs/CoinMonitorService/v15/Server/sqlite3/db.lock
Business/CoinMonitorService/.vs/CoinMonitorService/v15/Server/sqlite3/storage.ide
Business/CoinMonitorService/.vs/CoinMonitorService/v15/Server/sqlite3/storage.ide-shm
Business/CoinMonitorService/.vs/CoinMonitorService/v15/Server/sqlite3/storage.ide-wal
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/CoinMonitor.Base.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/CoinMonitor.Base.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.Base/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/CoinMonitor.Business.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/CoinMonitor.Business.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/CoinMonitor.Domain.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/CoinMonitor.Domain.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/CoinMonitor.Interfaces.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/CoinMonitor.Interfaces.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.Interfaces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/CoinMonitor.RestClients.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/CoinMonitor.RestClients.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/CoinMonitorService/CoinMonitor.RestClients/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/CoinMonitorService/CoinMonitorService/obj/Debug/Business.CoinMonitorServiceHost.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitor.ServiceHost.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitor.ServiceHost.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitorService.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitorService.csprojAssemblyReference.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/CoinMonitorServiceHost.csproj.CoreCompileInputs.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Business/CoinMonitorService/CoinMonitorService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
